/*Compatibility @media Targets*/
/**/
/*1. Generic Monitor*/
/*No @media tag - generic behavior*/
/*2. 4K/TV*/
/*@media (min-width: 1800px) and @media (min-width: 3400px) for ultra HD*/
/*3.Vertical Phones*/
/*@media (max-width: 600px) and (orientation: portrait)*/
/*4. Square Tablet/Foldable Phone*/
/*@media (max-width: 900px) and (min-aspect-ratio: 4/5) and (max-aspect-ratio: 5/4)*/
/*5. Portrait Tablet*/
/*@media (min-width: 601px) and (max-width: 1024px) and (orientation: portrait) and (pointer: coarse) */
/*6. Landscape Phones*/
/*@media (max-height: 500px) and (orientation: landscape) and (pointer: coarse)*/
/*7. Landscape Tablets*/
/*@media (min-width: 768px) and (max-width: 1366px) and (orientation: landscape) and (min-height: 501px) and (pointer: coarse)*/

/**/
/**/
/*Global Resets*/
/**/
/**/
*, *::before, *::after {
    box-sizing: border-box; /*forces padding/borders to calculate inwards, not outwards*/
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #111;
    color: white;
    font-family: sans-serif;
    padding: 0;
}

/*assures that it doesnt animate when moving elements on the dom on initial load. this preload is set via js*/
.preload * {
    transition: none !important;
}

/**/
/**/
/* General Section Styling */
/**/
/**/
.content-section {
    padding: 3vh 2rem 6vh 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/*Large Monitor*/
@media (min-width: 1800px) {
    .content-section {
        max-width: clamp(1800px, 75vw, 2560px);
    }
}

/*4K+ Monitor*/
@media (min-width: 3400px) {
    .content-section {
        max-width: 2560px;
    }
}

/*Vertical Phones and Square Tablets/Foldables*/
@media (max-width: 600px) and (orientation: portrait), (max-width: 900px) and (min-aspect-ratio: 4/5) and (max-aspect-ratio: 5/4) {
    .content-section {
        padding: 2vh 1rem 4vh 1rem;
    }
}

/*Landscape Phones*/
@media (max-height: 500px) and (orientation: landscape) and (pointer: coarse) {
    .content-section {
        padding: 1vh 2rem 2vh 2rem;
    }
}

.section-title {
    text-align: center;
    font-size: clamp(2rem, 4vh, 3rem);
    margin-bottom: 5vh;
    border-bottom: 4px solid #333;
    padding-bottom: 1vh;
    margin-top: 0;

    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #FFD700;
}

/*Large Monitor*/
@media (min-width: 1800px) {
    .section-title {
        margin-bottom: 3vh;
    }
}

/*Vertical Phones and Square Tablets/Foldables*/
@media (max-width: 600px) and (orientation: portrait), (max-width: 900px) and (min-aspect-ratio: 4/5) and (max-aspect-ratio: 5/4) {
    .section-title {
        font-size: clamp(1.5rem, 6vw, 2.25rem);
        letter-spacing: 0.08em;
        margin-bottom: 1vh;
        padding-bottom: 0.5vh;
        /*margin-top: 0;*/
    }
}

/*Landscape Phones*/
@media (max-height: 500px) and (orientation: landscape) and (pointer: coarse) {
    .section-title {
        font-size: clamp(1.25rem, 5vh, 2rem);
        margin-bottom: 1vh;
    }
}

/**/
/**/
/*Buttons*/
/**/
/**/
.button {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: clamp(1rem, 2vh, 1.5rem) clamp(2rem, 4vw, 3rem);

    border-radius: 1vh;

    cursor: pointer;
    border: 0;
    background-color: #ffe855;

    box-shadow: 0 1vh 0 #ccac00;

    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: clamp(0.9rem, 1.5vh, 1.1rem);
    transition: all 0.15s ease;
}

.button:hover {
    letter-spacing: 0.1rem;
    background-color: #FFEA00;
    transform: translateY(0.4vh);
    box-shadow: 0 0.6vh 0 #ccac00;
}

.button:active {
    letter-spacing: 0.1rem;
    background-color: #FFEA00;
    box-shadow: 0 0 0 #ccac00;
    transform: translateY(1vh);
    transition: all 0.05s ease-out;
}

/*Landscape Phones*/
@media (max-height: 500px) and (orientation: landscape) and (pointer: coarse) {
    .button {
        box-shadow: 0 2vh 0 #ccac00;
        /*transition: all 0.15s ease;*/
    }

    .button:hover .button:active {
        transform: translateY(2vh);
        box-shadow: 0 0 0 #ccac00;
    }
}

/**/
/**/
/* Scroll Snapping Rules */
/**/
/**/
html {
    scroll-snap-type: y mandatory;
}

/*Touch Screens*/
@media (pointer: coarse) {
    html {
        scroll-snap-type: none;
    }
}

.top-title-bar {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/*#about,*/
/*#projects,*/
#skills-tree {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.project-card {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}